body {
		color: green;
    font-family: verdana, Arial, Geneva, Arial Black;
    font-weight: normal;
    background-color: lime;
    /*background-color: rgb(240,28,235);*/
    background-color: #ffcf79;
    font-size: 25px;
    border-color: aquamarine 4px solid;
            /*background-image: url('motivation.png');*/
	}

	   h1 {
		text-decoration: underline;
    font-size: 150%;
    text-align: center;
	   }

     h2 {
    text-decoration: underline;
    font-size: 1.2em;
    text-align: right;
     }

  	#para1homepage {
  			      color: blue;
  		        }

  	  p.para2 {
        color: purple;
        }

        p.paragraph {
        color: purple;
        font-size: 15px;
        line-height: 1.5em;
        background-color: #e5e4d7;
        padding: 20px 20px 20px 70px;
        border: black 2px solid;
        border-radius: 10px;
        border-bottom-color: red;
        /*
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        */
        /*border-bottom-style: dotted;*/
        }	

        #para4homepage {
        color: black;
        font-size: 15px;
        line-height: 1.5em;
        background-color: #e5e4d7;
        padding: 20px;
        border-color: #296A64;
        border-width: thick;
        border-style: double;
        margin: 20px;
        margin-top: 50px;
        margin-left: 400px;
        padding-left:40px;
        }  

.truth {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 150px;
      padding: 3px;
      background-color:silver;
      border-color: black;
      border-width: 2px;
      border-style: solid;
} 